@{
    ViewBag.Title = "Main Page";
}
<div class="jumbotron">
    <h1>RBAC</h1>
    <p class="lead">Roles Based Access Control in ASP.NET MVC Applications with Identity 2.0</p>
    <p class="lead">This solution forms an ideal framework for any internet application that requires user authentication/authorization based around dynamic self-contained Roles Based Access Control (RBAC) that is specific to the application.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>