@{
    ViewBag.Title = "Maintenance Enabled";
}

<div>
    <table>
        <td><img src="~/Content/Images/noentry.jpg" /></td>
        <td>
            <h1><strong>Maintenance Time</strong></h1>
            <h2>
                We're sorry, but the call you are trying to make cannot be completed as dialed. 
                That is to say, something went wrong and the page you're looking for is, sadly, not here.
            </h2>
        </td>
    </table>
</div>